body{
    background-color: #fff;
}
.sub-nav{
    position: fixed;
    text-align: right;
    top: 100px;
    right: 20px;
    font-family: Futura;
    color: rgba(0,0,0,0.6);
    font-size: 60%;
    z-index: 10;

    cursor: default;
}
.sub-nav div{
    margin-top: 15px;
}
.sub-nav div:hover{
    color: #000;
}
.sound{
    position: fixed;
    text-align: right;
    bottom: 20px;
    right: 30px;
    font-family: Futura;
    color: rgba(0,0,0,1);
    font-size: 60%;
    z-index: 10;

    cursor: default;
}
.sound span{
    color: rgba(0,0,0,0.6);

    cursor: pointer;
}
#head{
    height: 800px;
    width: 100%;
    background: url("../image/disneyBg.jpg"), no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
}

#head div{
    font-size: 500%;
    letter-spacing: 10px;
    font-weight: bolder;
}
#head p{
    font-size: 400%;
    letter-spacing: 10px;
    font-weight: bolder;
    font-family: Futura;
}

#head section{
    width: 150px;
    height: 10px;
    margin: auto;
    background-color: #1e88e5;
}

.container{
    width: 100%;
    text-align: center;
}
@keyframes dropDown{
    0%{
        /*height: 0;*/
    }
    100%{
        height: 500px;
    }
}
.line-container{
    margin-top: 20px;
    height: 500px;
}
.line{
    margin-left: auto;
    margin-right: auto;
    width: 2px;
    height: 0px;
    animation: dropDown 4.5s ease forwards;
    background-color: #000;
}

.grid figure{
    position: relative;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.grid1{
    margin: 0 auto;
    width: 913px;
    list-style: none;
    text-align: center;
    height: 400px;
}

.figure1 section{
    position: absolute;
    text-align: left;
    top:10px;
    left: 400px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure1 section h1 {
    font-size: 300%;
}
.figure1 section p {
    margin-left: 80px;
    font-size: 80%;
    color: #616161;
}
.figure1 section h4 {
    margin-left: 80px;
    font-size: 100%;
    color: #212121;

}
.figure1{
    margin: 10px ;
    width: 800px;
    height: 400px;

}
img{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;

}
.figure1 figcaption::before,
.figure1 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure1 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 353px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure1 figcaption::after {
    top: 0;
    left: 0;
    border-width: 20px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure1:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(360px,30px,0);
    z-index: 11;
}
.figure1:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-30px,0);
    z-index: 11;
}


figure figcaption::before,
figure figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

figure:hover section{
    z-index: 2;

}

.grid2{
    margin: 0 auto;
    width: 842px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure2 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure2 section h1 {

    font-size: 300%;
}
.figure2 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure2 section h4 {
    margin-left: 50px;
    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure2{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure2 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure2 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 410px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure2:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure2:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid3{
    margin: 0 auto;
    width: 1250px;
    list-style: none;
    text-align: center;
    height: 550px;
}
.figure3 section{
    position: absolute;
    width: 700px;
    top:10px;
    left: 400px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure3 section h2 {
    font-family: Futura;
    margin-top: -30px;
    margin-bottom: 50px;
    font-size: 120%;
}
.figure3 section h1 {
    font-size: 300%;
}
.figure3 section p {
    line-height: 25px;
    margin-left: -20px;
    font-size: 80%;
    color: #616161;
}
.figure3 section h4 {
    margin-top: 50px;
    font-size: 100%;
    color: #212121;

}

.figure3{
    margin: 10px ;
    width: 900px;
    height: 550px;

}

.figure3 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 285px 30px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure3 figcaption::after {
    top: 0;
    left: 0;
    border-width: 30px 0 0 30px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure3:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(290px,40px,0);
    z-index: 11;
}
.figure3:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-40px,-40px,0);
    z-index: 11;
}

.grid4{
    margin: 0 auto;
    width: 1320px;
    list-style: none;
    text-align: center;
    height: 500px;
}

.figure4 section{
    position: absolute;
    top:100px;
    left: 100px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure4 section h1 {

    font-size: 300%;
}

.figure4 section h4 {
    font-size: 100%;
    color: #212121;

}

.figure4{
    margin: 10px ;
    width: 1200px;
    height: 480px;

}

.figure4 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure4 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 650px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure4:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure4:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-660px,-60px,0);
    z-index: 11;
}

.grid5{
    margin: 0 auto;
    width: 1120px;
    list-style: none;
    text-align: center;
    height: 700px;
}

.figure5 section{
    position: absolute;
    text-align: left;
    top:70px;
    letter-spacing: 2px;
    left: 600px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure5 section h1 {
    font-size: 300%;
}
.figure5 section p {
    margin-left: 60px;
    font-size: 80%;
    color: #616161;
}
.figure5 section h4 {
    margin-left: 60px;
    font-size: 100%;
    color: #212121;

}
.figure5{
    margin: 10px ;
    width: 1000px;
    height: 700px;

}

.figure5 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 450px 100px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure5 figcaption::after {
    top: 0;
    left: 0;
    border-width: 80px 0 0 100px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure5:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(460px,120px,0);
    z-index: 11;
}
.figure5:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-90px,-120px,0);
    z-index: 11;
}

.grid6{
    margin: 0 auto;
    width: 630px;
    list-style: none;
    text-align: center;
    height: 880px;
}

.figure6 section{
    position: absolute;
    top:200px;
    left: 0px;
    /*overflow: hidden;*/
    cursor: pointer;
    z-index: 5;
}

.figure6 section h1 {

    font-size: 300%;
}

.figure6 section h4 {
    text-align: left;
    font-size: 100%;
    color: #212121;

}

.figure6{
    margin: 10px ;
    width: 800px;
    height: 880px;

}

.figure6 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 200px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure6 figcaption::after {
    top: 0;
    left: 0;
    border-width: 150px 0 0 300px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure6:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,230px,0);
    z-index: 11;
}
.figure6:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-350px,-160px,0);
    z-index: 11;
}


.grid7{
    margin: 0 auto;
    width: 982px;
    list-style: none;
    text-align: center;
    height: 550px;
}
.figure7 section{
    position: absolute;
    text-align: left;
    top:30px;
    letter-spacing: 2px;
    left: 500px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure7 section h1 {
    font-size: 300%;
    font-family: Futura;
    letter-spacing: 5px;
}
.figure7 section p {
    margin-left: 50px;
    font-family: "Big Caslon";
    letter-spacing: 2px;
    line-height: 23px;
    font-size: 80%;
    color: #616161;
}
.figure7 section h4 {
    margin-left: 50px;
    font-size: 100%;
    color: #212121;

}
.figure7{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure7 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 320px 30px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure7 figcaption::after {
    top: 0;
    left: 0;
    border-width: 30px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure7:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(410px,40px,0);
    z-index: 11;
}
.figure7:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-60px,-40px,0);
    z-index: 11;
}
.figure7:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
    z-index: 11;
}
.figure7 img{
    transform: scale(1.6)  translate3d(150px, -100px,0);
    /*transform:;*/
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
}

.grid8{
    margin: 0 auto;
    width: 925px;
    list-style: none;
    text-align: center;
    height: 450px;
}

.figure8 section{
    position: absolute;
    top:20px;
    left: 0px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure8 section h1 {
    font-size: 300%;
}
.figure8 section p {
    margin-left: 50px;
    width: 390px;
    font-size: 80%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure8 section h4 {
    margin-left: 50px;
    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure8{
    margin: 10px ;
    width: 900px;
    height:450px;

}

.figure8 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 50px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure8 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 450px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure8:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,60px,0);
    z-index: 11;
}
.figure8:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-460px,-60px,0);
    z-index: 11;
}

.grid9{
    margin: 0 auto;
    width: 825px;
    list-style: none;
    text-align: center;
    height: 610px;
}

.figure9 section{
    position: absolute;
    text-align: left;
    top:100px;
    letter-spacing: 2px;
    left: 450px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure9 section h1 {
    font-size: 300%;
    font-family: Futura;
    letter-spacing: 5px;
}
.figure9 section p {
    margin-left: 50px;
    font-family: "Big Caslon";
    letter-spacing: 2px;
    line-height: 23px;
    font-size: 80%;
    color: #616161;
}
.figure9 section h4 {
    margin-left: 50px;
    font-size: 100%;
    color: #212121;

}
.figure9{
    margin: 10px ;
    width: 900px;
    height: 610px;

}

.figure9 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 500px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure9 figcaption::after {
    top: 0;
    left: 0;
    border-width: 80px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure9:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(510px,30px,0);
    z-index: 11;
}
.figure9:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-90px,0);
    z-index: 11;
}

.grid10{
    margin: 0 auto;
    width: 925px;
    list-style: none;
    text-align: center;
    height: 600px;
}

.figure10 section{
    position: absolute;
    top:20px;
    left: 0px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure10 section h1 {
    font-size: 300%;
}
.figure10 section p {
    margin-left: 50px;
    width: 390px;
    font-size: 80%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure10 section h4 {
    margin-left: 50px;
    width: 250px;
    font-size: 100%;
    color: #212121;

}

.figure10{
    margin: 10px ;
    width: 900px;
    height:600px;

}

.figure10 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 50px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure10 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 450px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure10:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,60px,0);
    z-index: 11;
}
.figure10:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-460px,-60px,0);
    z-index: 11;
}

.grid11{
    margin: 0 auto;
    width: 915px;
    list-style: none;
    text-align: center;
    height: 800px;
}

.figure11 section{
    position: absolute;
    text-align: left;
    top:200px;
    letter-spacing: 2px;
    left: 500px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure11 section h1 {
    font-size: 300%;
    font-family: Futura;
    letter-spacing: 5px;
}
.figure11 section p {
    margin-left: 50px;
    font-family: "Big Caslon";
    letter-spacing: 2px;
    line-height: 23px;
    font-size: 80%;
    color: #616161;
}
.figure11 section h4 {
    margin-left: 50px;
    font-size: 100%;
    color: #212121;

}
.figure11{
    margin: 10px ;
    width: 900px;
    height: 800px;

}

.figure11 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 450px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure11 figcaption::after {
    top: 0;
    left: 0;
    border-width: 150px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure11:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(460px,30px,0);
    z-index: 11;
}
.figure11:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-160px,0);
    z-index: 11;
}

/***********************************/
/*head2*/
/***********************************/

#head1{
    height: 800px;
    width: 100%;
    background: url("../image/lineBg1.jpg"), no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    text-align: center;
}

#head1 div{
    font-size: 500%;
    letter-spacing: 10px;
    font-weight: bolder;
}
#head1 p{
    font-size: 400%;
    letter-spacing: 10px;
    font-weight: bolder;
    font-family: Futura;
}

#head1 section{
    width: 150px;
    height: 10px;
    margin: auto;
    background-color: #e91e63;
}


.grid21{
    margin: 0 auto;
    width: 1120px;
    list-style: none;
    text-align: center;
    height: 460px;
}

.figure21 section{
    position: absolute;
    text-align: left;
    top:10px;
    left: 490px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure21 section h1 {
    font-size: 300%;
    font-family: Futura;
}
.figure21 section p {
    margin-left: 120px;
    width: 350px;
    font-size: 80%;
    color: #616161;
}
.figure21 section h4 {
    width: 350px;
    margin-left: 120px;
    font-size: 100%;
    color: #212121;

}
.figure21{
    margin: 10px ;
    width: 1000px;
    height: 460px;

}

.figure21 figcaption::before,
.figure21 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure21 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 450px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure21 figcaption::after {
    top: 0;
    left: 0;
    border-width: 20px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure21:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(460px,20px,0);
    z-index: 11;
}
.figure21:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-30px,0);
    z-index: 11;
}


.grid22{
    margin: 0 auto;
    width: 782px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure22 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure22 section h1 {

    font-size: 300%;
}
.figure22 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure22 section h4 {
    margin-left: 50px;
    width: 200px;
    font-size: 100%;
    color: #212121;

}
.figure22{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure22 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure22 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 380px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure22:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure22:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid23{
    margin: 0 auto;
    width: 980px;
    list-style: none;
    text-align: center;
    height: 770px;
}

.figure23 section{
    position: absolute;
    text-align: left;
    top:90px;
    left: 430px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure23 section h1 {
    font-size: 300%;
    font-family: Futura;
}
.figure23 section p {
    margin-left: 80px;
    font-size: 80%;
    color: #616161;
}
.figure23 section h4 {
    margin-left: 80px;
    font-size: 100%;
    color: #212121;

}
.figure23{
    margin: 10px ;
    width: 800px;
    height: 770px;

}

.figure23 figcaption::before,
.figure23 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure23 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 320px 0px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure23 figcaption::after {
    top: 0;
    left: 0;
    border-width: 80px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure23:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(360px,0px,0);
    z-index: 11;
}
.figure23:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-20px,-90px,0);
    z-index: 11;
}


.grid24{
    margin: 0 auto;
    width: 782px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure24 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure24 section h1 {

    font-size: 300%;
}
.figure24 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure24 section h4 {
    margin-left: 50px;
    width: 250px;
    font-size: 100%;
    color: #212121;

}
.figure24{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure24 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure24 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 380px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure24:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure24:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid25{
    margin: 0 auto;
    width: 1000px;
    list-style: none;
    text-align: center;
    height: 500px;
}

.figure25 section{
    position: absolute;
    text-align: center;
    top:50px;
    left: 570px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure25 section h1 {
    font-size: 300%;
    font-family: Futura;
}
.figure25 section p {

    font-size: 80%;
    color: #616161;
}
.figure25 section h4 {

    font-size: 100%;
    color: #212121;

}
.figure25{
    margin: 10px ;
    width: 1000px;
    height: 500px;

}

.figure25 figcaption::before,
.figure25 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure25 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 510px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure25 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure25:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(560px,30px,0);
    z-index: 11;
}
.figure25:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-20px,-60px,0);
    z-index: 11;
}


.grid26{
    margin: 0 auto;
    width: 822px;
    list-style: none;
    text-align: center;
    height: 500px;
}

.figure26 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure26 section h1 {

    font-size: 300%;
}
.figure26 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure26 section h4 {
    margin-left: 50px;
    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure26{
    margin: 10px ;
    width: 800px;
    height: 500px;

}

.figure26 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure26 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 400px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure26:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure26:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid27{
    margin: 0 auto;
    width: 1000px;
    list-style: none;
    text-align: center;
    height: 990px;
}

.figure27 section{
    position: absolute;
    text-align: center;
    top:250px;
    left: 500px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure27 section h1 {
    font-size: 300%;
    font-family: Futura;
}
.figure27 section p {
    margin-left: 80px;
    font-size: 80%;
    color: #616161;
}
.figure27 section h4 {
    margin-left: 80px;
    font-size: 100%;
    color: #212121;

}
.figure27{
    margin: 10px ;
    width: 1000px;
    height: 990px;

}

.figure27 figcaption::before,
.figure27 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure27 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 510px 100px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure27 figcaption::after {
    top: 0;
    left: 0;
    border-width: 150px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure27:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(560px,130px,0);
    z-index: 11;
}
.figure27:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-20px,-160px,0);
    z-index: 11;
}
/***********************************/
/*head3*/
/***********************************/

#head2{
    height: 800px;
    width: 100%;
    background: url("../image/bearBg.jpg"), no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    text-align: center;
}

#head2 div{
    font-size: 500%;
    letter-spacing: 10px;
    font-weight: bolder;
}
#head2 p{
    font-size: 400%;
    letter-spacing: 10px;
    font-weight: bolder;
    font-family: Futura;
}

#head2 section{
    width: 150px;
    height: 10px;
    margin: auto;
    background-color: #ffeb3b;
}

.grid31{
    margin: 0 auto;
    width: 842px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure31 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure31 section h1 {

    font-size: 300%;
}
.figure31 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure31 section h4 {
    margin-left: 50px;
    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure31{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure31 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure31 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 410px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure31:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure31:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid32{
    margin: 0 auto;
    width: 913px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure32 section{
    position: absolute;
    text-align: left;
    top:10px;
    left: 500px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure32 section h1 {
    font-size: 300%;
}
.figure32 section p {
    margin-left: 50px;
    font-size: 80%;
    color: #616161;
}
.figure32 section h4 {
    margin-left: 50px;
    font-size: 100%;
    color: #212121;

}
.figure32{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure32 figcaption::before,
.figure32 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure32 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 353px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure32 figcaption::after {
    top: 0;
    left: 0;
    border-width: 20px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure32:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(360px,20px,0);
    z-index: 11;
}
.figure32:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-20px,0);
    z-index: 11;
}

.grid33{
    margin: 0 auto;
    width: 842px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure33 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: center;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure33 section h1 {

    font-size: 300%;
}
.figure33 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure33 section h4 {

    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure33{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure33 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure33 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 410px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure33:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure33:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid34{
    margin: 0 auto;
    width: 820px;
    list-style: none;
    text-align: center;
    height: 800px;
}

.figure34 section{
    position: absolute;
    text-align: center;
    top:310px;
    left: 500px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure34 section h1 {
    font-size: 300%;
}
.figure34 section p {
    margin-left: 80px;
    font-size: 80%;
    color: #616161;
}
.figure34 section h4 {

    font-size: 100%;
    color: #212121;

}
.figure34{
    margin: 10px ;
    width: 800px;
    height: 800px;

}

.figure34 figcaption::before,
.figure34 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure34 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 400px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure34 figcaption::after {
    top: 0;
    left: 0;
    border-width: 120px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure34:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(410px,30px,0);
    z-index: 11;
}
.figure34:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-130px,0);
    z-index: 11;
}

.grid35{
    margin: 0 auto;
    width: 842px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure35 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure35 section h1 {

    font-size: 300%;
}
.figure35 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure35 section h4 {
    margin-left: 50px;
    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure35{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure35 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure35 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 410px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure35:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure35:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid36{
    margin: 0 auto;
    width: 913px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure36 section{
    position: absolute;
    text-align: left;
    top:10px;
    left: 500px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure36 section h1 {
    font-size: 300%;
}
.figure36 section p {
    margin-left: 80px;
    font-size: 80%;
    color: #616161;
}
.figure36 section h4 {
    margin-left: 80px;
    font-size: 100%;
    color: #212121;

}
.figure36{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure36 figcaption::before,
.figure36 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure36 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 353px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure36 figcaption::after {
    top: 0;
    left: 0;
    border-width: 20px 0 0 20px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure36:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(360px,20px,0);
    z-index: 11;
}
.figure36:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-20px,0);
    z-index: 11;
}
.grid37{
    margin: 0 auto;
    width: 842px;
    list-style: none;
    text-align: center;
    height: 370px;
}

.figure37 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: center;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure37 section h1 {

    font-size: 300%;
}
.figure37 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure37 section h4 {

    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure37{
    margin: 10px ;
    width: 800px;
    height: 370px;

}

.figure37 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 20px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure37 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 410px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure37:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(30px,30px,0);
    z-index: 11;
}
.figure37:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}

.grid38{
    margin: 0 auto;
    width: 873px;
    list-style: none;
    text-align: center;
    height: 550px;
}

.figure38 section{
    position: absolute;
    text-align: left;
    top:10px;
    left: 450px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure38 section h1 {
    font-size: 300%;
}
.figure38 section p {
    margin-left: 80px;
    font-size: 80%;
    color: #616161;
}
.figure38 section h4 {
    margin-left: 80px;
    font-size: 100%;
    color: #212121;

}
.figure38{
    margin: 10px ;
    width: 800px;
    height: 550px;

}

.figure38 figcaption::before,
.figure38 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure38 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 373px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure38 figcaption::after {
    top: 0;
    left: 0;
    border-width: 20px 0 0 10px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure38:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(380px,20px,0);
    z-index: 11;
}
.figure38:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-20px,0);
    z-index: 11;
}

.grid39{
    margin: 0 auto;
    width: 842px;
    list-style: none;
    text-align: center;
    height: 650px;
}

.figure39 section{
    position: absolute;
    top:50px;
    left: 0px;
    text-align: left;

    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
.figure39 section h1 {

    font-size: 300%;
}
.figure39 section p {
    margin-left: 50px;
    width: 350px;
    font-size: 100%;
    font-family: "Big Caslon";
    letter-spacing: 1px;
    line-height: 25px;
    color: #616161;
}
.figure39 section h4 {
    margin-left: 50px;
    width: 400px;
    font-size: 100%;
    color: #212121;

}
.figure39{
    margin: 10px ;
    width: 800px;
    height: 650px;

}

.figure39 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 0px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure39 figcaption::after {
    top: 0;
    left: 0;
    border-width: 50px 0 0 410px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure39:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0px,30px,0);
    z-index: 11;
}
.figure39:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-420px,-60px,0);
    z-index: 11;
}
.figure39:hover img {
    transform: scale(1)  translate3d(0px, 0px,0);
    /*transform:;*/
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
}
.figure39 img{
    transform: scale(1.3)  translate3d(-50px, -100px,0);
    /*transform:;*/
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
}


.grid310{
    margin: 0 auto;
    width: 873px;
    list-style: none;
    text-align: center;
    height: 540px;
}

.figure310 section{
    position: absolute;
    text-align: left;
    top:10px;
    left: 380px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.figure310 section h1 {
    font-size: 300%;
}
.figure310 section p {
    margin-left: 150px;
    font-size: 80%;
    color: #616161;
}
.figure310 section h4 {
    margin-left: 150px;
    font-size: 100%;
    color: #212121;

}
.figure310{
    margin: 10px ;
    width: 800px;
    height: 540px;

}

.figure310 figcaption::before,
.figure310 figcaption::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    z-index: 9;
}

.figure310 figcaption::before {
    right: 0;
    bottom: 0;

    border-width: 0 373px 20px 0;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure310 figcaption::after {
    top: 0;
    left: 0;
    border-width: 20px 0 0 10px;
    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
    z-index: 3;
}

.figure310:hover figcaption::before{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(380px,20px,0);
    z-index: 11;
}
.figure310:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(-30px,-20px,0);
    z-index: 11;
}
.figure310:hover img {
    transform: scale(1)  translate3d(0px, 0px,0);
    /*transform:;*/
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
}
.figure310 img{
    transform: scale(1.4)  translate3d(-100px, 10px,0);
    /*transform:;*/
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
}
.animated{
    animation-delay: 0.5s;
    animation-duration: 3s;
}