.road {
    -webkit-perspective: 70vh;
    -o-perspective: 70vh;
    -moz-perspective: 70vh;
    -ms-perspective: 70vh;
    perspective: 70vh;
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 10vh;
}
#head{
    background: #212121;
}
.title{
    font-size: 400%;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    text-align: center;
    -webkit-perspective: 70vh;
    -o-perspective: 70vh;
    -moz-perspective: 70vh;
    -ms-perspective: 70vh;
    perspective: 70vh;
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 20vh;
    letter-spacing: 2px;
}
.subtitle{
    font-size: 40%;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family:Didot;

}
.strip {
    width: 9%;
    margin-left: 6%;
    position: relative;
    float: left;
    height: 65vh;
    z-index: 0;
    cursor: pointer;
    -o-transform: rotateX(75deg) rotateY(0);
    -webkit-transform: rotateX(75deg) rotateY(0);
    -moz-transform: rotateX(75deg) rotateY(0);
    -ms-transform: rotateX(75deg) rotateY(0);
    transform: rotateX(75deg) rotateY(0);
    -ms-transform-style: preserve-3d;
    -ms-transition: .9s;
    -moz-transform-style: preserve-3d;
    -moz-transition: .9s;
    -o-transform-style: preserve-3d;
    -o-transition: .9s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .9s;
    transform-style: preserve-3d;
    transition: .9s;

    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);

    display: none;
}

.strip:after, .strip:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.active .strip {
    -o-transform: rotateX(75deg) rotateY(180deg);
    -webkit-transform: rotateX(75deg) rotateY(180deg);
    -moz-transform: rotateX(75deg) rotateY(180deg);
    -ms-transform: rotateX(75deg) rotateY(180deg);
    transform: rotateX(75deg) rotateY(180deg)
}

.strip:first-child {
    margin: 0
}

.strip:before {
    background: #e2e2e2;
    z-index: 1;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);

}


.strip.active:after, .strip:hover:after {
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, .77);
    -moz-box-shadow: 0 0 30px rgba(255, 255, 255, .77);
    box-shadow: 0 0 40px rgba(255, 255, 255, .77);
    background: #fff;
}
.strip:hover:before {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, .77);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 255, .77);
    box-shadow: 0 0 20px rgba(255, 255, 255, .77);
    background: #fff;
}


.sound{
    -webkit-perspective: 70vh;
    -o-perspective: 70vh;
    -moz-perspective: 70vh;
    -ms-perspective: 70vh;
    perspective: 70vh;
    position: absolute;
    width: 100%;
    right: 3vh;
    bottom: 2vh;

    text-align: right;

    font-family: Futura;
    color: rgba(255,255,255,1);
    font-size: 70%;
    z-index: 10;

    cursor: default;
}
.sound span{
    color: rgba(255,255,255,0.6);

    cursor: pointer;
}

.content{
    height: 900px;
    background-color: #212121;
    overflow-y: hidden;
}

section{
    padding-top: 130px;
    display: none;
    color: #e2e2e2;
}
.question{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 120%;
}

ul{
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}
li{
    list-style: none;
    margin-top: 5px;

}

.btn{
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    line-height: 25px;
    border: rgb(162,118,147) 1px solid;
    border-radius: 2px;

    margin-top: 20px;
    width: 70px;
    height: 25px;
    color: #fff;
    background-color: rgba(160,118,147,0.8);
    -webkit-transition: border-color 0.5s; /* Safari */
    transition: border-color 0.5s ease-in;
}
.btn:hover{
    border-color: #fff;
    -webkit-transition: border-color 0.5s; /* Safari */
    transition: border-color 0.5s ease-in;
}


@keyframes dropDown{
    0%{
        /*height: 0;*/
    }
    100%{
        height: 350px;
    }
}
.line-container{
    padding-top: 20px;
    height: 350px;
}
.line{
    margin-left: auto;
    margin-right: auto;
    width: 2px;
    height: 0px;
    animation: dropDown 4.5s ease forwards;
    background-color: #e2e2e2;
}
.button-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.test{
    font-size: 300%;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    line-height: 100px;
    border: rgb(162,118,147) 1px solid;
    border-radius: 50px;
    margin-top: 20px;

    width: 300px;
    height: 100px;
    color: #fff;
    background-color: rgba(160,118,147,0.5);
    -webkit-transition: border-color 0.5s; /* Safari */
    transition: border-color 0.5s ease-in;
}
.test:hover{
    border-color: #fff;
    -webkit-transition: border-color 0.5s; /* Safari */
    transition: border-color 0.5s ease-in;
}

.container{
    width: 700px;
    padding-top: 180px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
.container p{
    font-size: 400%;
    color: #e2e2e2;
}
h4{
    font-size: 200%;
    color: #e2e2e2;
}

figure{
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.image1{
    background: url("../image/q1.jpeg"), no-repeat;

}
.image2{
    background: url("../image/q2.jpeg"), no-repeat;
}
.image3{
    background: url("../image/q3.jpeg"), no-repeat;
}
.image4{

    background: url("../image/q4.jpeg"), no-repeat;
    background-size: cover;
    background-position: center;
}
.image5{
    background: url("../image/q5.jpeg"), no-repeat;
    background-size: cover;

}
.image6{
    background: url("../image/q6.jpeg"), no-repeat;
    cursor: pointer;
}
.image7{
    background: url("../image/q7.png"), no-repeat;
}
.image8{
    background: url("../image/q8.jpeg"), no-repeat;
    background-size: cover;
    background-position: center;
}


.image9{
    background: url("../image/q9.jpeg"), no-repeat;
    background-size: cover;
    background-position: top center;
}
.image10{
    background: url("../image/q10.jpeg"), no-repeat;
}
.image11{
    background: url("../image/q11.jpeg"), no-repeat;
    background-size: cover;
}
.image12{
     background: url("../image/q12.jpeg"), no-repeat;
    background-position: center;
 }
.image13{
    background: url("../image/q13.jpeg"), no-repeat;
}
.image14{
    background: url("../image/q14.jpg"), no-repeat;
    background-position: top center;
}

.image15{
    background: url("../image/q15.jpeg"), no-repeat;
    background-size: cover;
    background-position: center;
}
.image16{
    background: url("../image/q16.jpeg"), no-repeat;
    background-position: center;
}
.image17{
    background: url("../image/q17.jpeg"), no-repeat;
}
.image18{
    background: url("../image/q18.jpeg"), no-repeat;
    background-size: 180%;
    background-position: top center;

}
.image19{
     background: url("../image/q19.jpg"), no-repeat;
    background-size: 100%;
    background-position: top center;
 }
.image20{
    background: url("../image/q20.jpg"), no-repeat;
    background-size: 100%;
    background-position: top center;
}




