body{
    font-family: "Hiragino Sans GB","Microsoft YaHei", sans-serif;;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    text-decoration: none;
    background: rgba(0,0,0,0.8);
    /*opacity: 0.8;*/
    display: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    color: #fff;
}

.navbar-brand{
    font-family: Didot, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    letter-spacing: 1px;
    height: 50px;
    margin: 20px 100px;
    font-size: 150%;
    font-weight: bolder;
    line-height: 20px;
}
.nav ul{
    list-style: none;
    margin-left: 100px;
    margin-top: -30px;
    padding-left: 0px;
    border-top: rgba(255,255,255,0.4) 1px solid;

}
.nav li {
    float: left;
    margin-top: -1px;
}

.nav-static{
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;

    text-decoration: none;

    font-size: 18px;
    font-weight: 600;
    color: rgba(255,255,255,0.4);
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s ease-in;

}
.nav-static:hover{
    color: #fff;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s ease-in;
}
.nav-active{
    border-top: #fff 1px solid;
    color: #fff;
}
.nav .nav-on {
    display: none;
    width: 20px;
    position: relative;
    float: right;
    margin: 15px 15px;
    cursor: pointer;
}

.nav-on i {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    margin-bottom: 5px;
}

/*headroom css*/
.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-110px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-110px)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-110px)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-110px)
    }

    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-110px)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        -moz-transform: translateY(-110px)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }

    100% {
        -o-transform: translateY(-110px)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-110px)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

/*手机端css代码*/
@media screen and (max-width: 768px) {
    .nav{
        opacity: 0.9;
        height: 50px;
    }
    .nav ul {
        display: none;
        position: fixed;
        width: 20%;

        margin-left: 70%;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        border-color: #000;
        background-color: rgba(0,0,0,0.8);

        -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    }
    .nav ul li {
        width: 120%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10%;

    }

    .nav span.nav-on {
        display: block;
    }

    nav-static{
        display: block;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 50px;

        text-decoration: none;

        font-size: 18px;
        font-weight: 600;
        color: rgba(255,255,255,0.4);
        -webkit-transition: color 0.5s; /* Safari */
        transition: color 0.5s ease-in;

    }
    .nav-active{
        border-top: none;
    }
}

.waves{
    position:relative;
    cursor:pointer;
    display:inline-block;
    overflow:hidden;
    text-align: center;
    -webkit-tap-highlight-color:transparent;
    z-index:1;
}
.waves .waves-animation{
    position:absolute;
    border-radius:50%;
    width:25px;
    height:25px;
    opacity:0;
    background:rgba(255,255,255,0.3);
    transition:all 2s ease-out;
    transition-property:transform, opacity, -webkit-transform;
    -webkit-transform:scale(0);
    transform:scale(0);
    pointer-events:none
}

#foot{
    background-color: black;
    width: 100%;
    height: 800px;
    text-align: center;
    color: white;
}
#foot i{
    color: white;
    margin-top: 150px;
    padding: 20px;
    font-size: 200%;
    border: 2px solid;
    border-radius:20px;
}
#foot h4{
    margin-top: 80px;
    font-size: 150%;
}
#foot p{
    line-height: 30px;
    letter-spacing: 2px;
}
#foot .gapLine{
    margin-top: 150px;
    opacity: 0.5;
    width: 100%;
    height: 1px;
    background-color: #eceff1;
}
#foot .bottom{
    color: rgba(255,255,255,0.8);
    font-size: 60%;
    margin-top: 20px;

}